
.login-container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.login-left {
  flex: 1;
  background: linear-gradient(135deg, #6e00ff, #ff5991);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 80px;
}

.login-left h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.login-left p {
  font-size: 1.2rem;
  max-width: 350px;
}

.login-right {
  flex: 1;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #6e00ff;
}

.login-form input {
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.login-options {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.login-form button {
  padding: 10px;
  background: linear-gradient(135deg, #6e00ff, #ff5991);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 5px;
}
